[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pytest = "*"
pytest-spec = "*"
autopep8 = "*"

[packages]
beautifulsoup4 = "*"
dateparser = "*"
flask = "*"
pydash = "*"

[requires]
python_version = "2.7"
